html{
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(245, 239, 233);
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 180px;
  box-sizing: inherit;
}

h1{
  font-size: 25px;
  font-family: "Segoe Script";
}

ul {
  margin: 10px;
  padding: 5px;
}

li {
  font-weight: 100;
  list-style: none;
  font-size: 17px;
  line-height: 1;
  margin: 20px;
}

img {
  width: 120px;
  display: grid;
  margin-right: 20px;
}

.library-wrap{
  margin: 30px 0 30px 0;
  padding: 0 0 0 100px;
}

.search-wrap {
  padding: 40px;
  margin: 30px 0 30px 0;
}

.search-library button{
  padding: 6px 30px;
  border: 1px solid #b5b6b8;
  border-radius: 5px;
  background-color: rgb(228, 153, 126);
  color: rgb(51, 47, 43);
}

form.add-library input[type="submit"] {
  margin: 50px;
  padding: 10px 40px;
  border: 1px solid #b5b6b8;
  border-radius: 5px;
  background-color: rgb(228, 153, 126);
  color: rgb(51, 47, 43);

}

.book-wrap {
  padding: 10px;
  border: 1px solid #b5b6b8;
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(234, 203, 191);
  
}

.book-details {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.title,
.author,
.subtitle,
.description {
  color: rgb(71, 67, 63);
  display: block;
  margin-bottom: 5px;
  
}

form.delete input[type="submit"]{
  margin: 50px;
  padding: 10px 40px;
  border: 1px solid #b5b6b8;
  border-radius: 5px;
  background-color: rgb(228, 153, 126);
  color: rgb(51, 47, 43);

}

.about-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/images/book-pic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
  
  
}
