<!DOCTYPE html>
<html>
  <head>
    <title>HW6</title>

    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <h1>Hafsa's favorite books are:</h1>
    <ol>
      {% for i in range(0, len) %} {% if Books[i] == "To Kill a Mockingbird" %}
      <li style="color: green">{{Books[i]}}</li>
      <img src="{{imagelist[i]}}" />
      {% else %}
      <li>{{Books[i]}}</li>
      <img src="{{imagelist[i]}}" />
      {% endif %} {% endfor %}
    </ol>
  </body>
</html>
