<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link href="/static/style.css" rel="stylesheet" />
    <title>Lookup Library</title>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        
        <div class="d-flex search-wrap">
          <div class="col-4">
            <h1>Lookup Library</h1>
          </div>
          
          <form class="search-form col-8" method="GET" action="/">
            <div class="row">
              <div class="col-8">
                <input 
                type="text" 
                name="term" 
                class="form-control" />
              </div> 

              <div class="col-3">
                <input 
                type="submit" 
                value="Search" 
                class="form-control btn btn-secondary shadow-sm" />
              </div>

              <div class="col-1 search-library">
                <a href="/library">
                  <button type="button" class="btn">Library</button>
                </a>
              </div>
            </div>
          </form>
        </div>
        
        <div class="container">
          <div class="row">
            {% if ggtitles %}
            {% for i in range(maxBooks) %}
            <div class="book-wrap">
              <ul>
                <li>
                  <div class="d-flex book-details">
                    <span class="image">
                      <img src="{{ggimages[i]}}" />
                    </span>
                    <div class= "info">
                      <span class="title">
                        Title: {{ggtitles[i]}}
                      </span>

                      {%if ggauthors[i] %}
                      <span class="author">
                        Author: {{(ggauthors[i]) }}
                      </span>
                      {%endif%}

                      {%if ggsubtitles[i] %}
                      <span class="subtitle">
                        Subtitle: {{ggsubtitles[i]}}
                      </span>
                      {%endif%}

                      {%if ggdescription[i] %}
                      <span class="description">
                        Description: {{ggdescription[i]}}
                      </span>
                      {%endif%}

                    </div>
                  </div>
                </li>

                <form class="add-library" method="POST" action="/add">
                  <input type="hidden" name="Title" value="{{ggtitles[i]}}" />
                  <input type="hidden" name="Thumbnail" value="{{ggimages[i]}}" />
                  <input type="hidden" name="Author" value="{{ggauthors[i]}}" />
                  <input type="hidden" name="Subtitle" value="{{ggsubtitles[i]}}" />
                  <input type="hidden" name="Description" value="{{ggdescription[i]}}" />
                  <input type="submit" value="Add to My Library" />
                </form>
              </ul>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
        
      </div>
    </div>
    <footer class="about-page">
      <div class="background-image">
        <h2>About Us</h2>
        <p>
          Lookup library is a digital website that allows you to search for and add books 
          from Google Books to your personal collection. This enables you to curate a library
          of books you intend to read in the future, even if you haven't had a
          chance to read them yet.
        </p>
      </div>
    </footer>

  </body>
</html>
