<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link href="/static/style.css" rel="stylesheet" />
    <title>Library</title>
</head>
<body>
    
    <div class="container">
        <div class="wrapper">

            <div class="d-flex library-wrap">
                <div class="col-6 name">
                    <h1>Lookup Library</h1>
                </div>
                <div class="col-3 search-library">
                    <a href="/">
                        <button 
                        type="button">search</button>
                    </a>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    {% if data_titles %}
                    {% for i in range(fav_books) %}
                    <div class="book-wrap">
                        <ul>
                            <li>
                                <div class="d-flex book-details">
                                    <span class="image">
                                        <img src="{{data_titles[i].Thumbnail}}" />
                                    </span>
                                    <div class="info">
                                        <span class="title">
                                            Title: {{data_titles[i].Title}}
                                        </span>
                                    
                                        <span class="author">
                                            Author: {% if ',' in data_titles[i].Author %}
                                                    {{ data_titles[i].Author }}
                                                    {% else %}
                                                    {{ data_titles[i].Author | replace(', ', '') }}
                                                    {% endif %}
                                        </span>
                                        {%if ggsubtitles[i] %}
                                        <span class="subtitle">
                                            Subtitle: {{data_titles[i].Subtitle}}
                                        </span>
                                        {%endif%}

                                        <span class="title">
                                            Title: {{data_titles[i].Description}}
                                        </span>

                                    </div>
                                </div>    
                            </li>
                            <form class="delete" method="POST" action="/delete">
                                <input type="hidden" name="title_book" value="{{data_titles[i].Title}}" />
                                <input type="submit" value="Delete" />
                            </form>
                        </ul>
                    </div>    
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>